.music-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* make the flexbox layout vertical */
    color: white;
    transform: translate(0%, -50%);
    position: absolute;
    right: 10px;
    top: 50vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    /* overflow: hidden; */

}

.music-list::before {
    content: '';
    height: 50%;
    /* set the height of the pseudo-element to the height of the screen */
    visibility: hidden;
    /* hide the pseudo-element */
    position: relative;
    padding-top: 40vh;
}

.music-list::after {
    content: '';
    position: relative;
    padding-bottom: 40vh;
    /* make the last item a relative position element */
    /* bottom: 50%; */
    /* align the last item with the middle of the screen */
}

.music-list::-webkit-scrollbar {
    width: 0;
    background-color: #000000;
}

.music-list::-webkit-scrollbar-thumb {
    width: 0;
    background-color: #000000;
}


/* .flex-item {
    background-color: lightblue;
    width: 25vw;
    height: 5vh;
    padding: 20px;
    margin: 2px;
    text-align: center;
    transition: background-color 0.5s;
} */

/* .flex-item:hover {
    /* change the background color of the flex item when hovering */
/* background-color: pink;
} */

.music-item {
    width: 500px;
    /* height: 100px; */
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */
    --glow-rgb: 236, 219, 251;
    --glow-color: rgb(var(--glow-rgb));
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    /* --btn-color: rgb(100, 61, 136); */
    border: .25em solid var(--glow-color);
    /* padding: 1em 3em; */
    /* padding: .5em 1.5em; */
    color: var(--glow-color);
    font-size: 20px;
    font-weight: bold;
    /* background-color: var(--btn-color); */
    border-radius: 1em;
    outline: none;
    /* box-shadow: 0 0 1em .25em var(--glow-color), */
    /* 0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color); */
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.2s;
    user-select: none;
    word-break: keep-all;
}

.music-item>p {
    position: absolute;
    /* display: flex; */
    /* text-align: center; */
    /* align-self: center; */
    /* top: 15%; */
    left: 5%
        /* position the text vertically in the center of the .music-item element */
        /* left: 50%; */
        /* position the text horizontally in the center of the .music-item element */
        /* transform: translate(0%, -125%); */
        /* offset the text by half of its own width and height */
        /* z-index: 2; */
        /* make the text appear on top of the image */
}

.music-item::before {
    border-radius: 1em;
    /* padding: .5em 1.5em; */
    content: '';
    display: block;
    /* position: relative;
    top: 0px;
    left: 0px; */
    /* float:inline-start; */

    width: 100%;
    height: 100%;
    filter: brightness(50%);
    background-image: var(--image-url);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.music-item::after {
    pointer-events: none;
    content: "";
    position: absolute;
    /* top: 120%; */
    left: 0;
    /* height: 100%;
    width: 100%; */
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    /* transform: perspective(1.5em) rotateX(35deg) scale(1, .6); */
}

.music-item:hover {
    color: var(--btn-color);
    background-color: rgba(255, 255, 255, 0.552);
    /* background-color: var(--glow-color); */
    /* box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color); */
}

.music-item:active {
    box-shadow: 0 0 0.6em .25em rgba(var(--glow-rgb), 0.75);
    /* 0 0 2.5em 2em rgba(var(--glow-spread-color), 0.75),
    inset 0 0 .5em .25em rgba(var(--glow-color)); */
}